<!DOCTYPE html>
<html lang="en">
  <%- include ('../template/template') %>
  <body>
    <div id="contenedor" class="container mt-5" data-id = "<%= product.id %> ">
      <a href="/admin" class="text-decoration-none text-light"><button class="btn btn-secondary mb-3">Volver</button></a>
      <h2>Artículo: </h2>
      <div class="d-flex flex-wrap">
        <span class="text-muted text-decoration-underline fs-3 fw-normal" id="articulo"></span>
        <button class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#modal-edit">Editar producto</button>
      </div>   
      <div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <% if (product) { %>
                  <form id="formEditar" data-id = "<%= product.id %>"  class="w-100">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Nombre"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="price"
                        placeholder="Precio"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="thumbnail" class="form-label">Imagen</label>
                      <input class="form-control" type="file" id="thumbnail" />
                    </div>
                    <button type="submit" class="btn btn-success w-100" data-bs-dismiss="modal">Enviar</button>
                  </form>
              </div>
              <% } else{ %>  
                <h2 class="mt-5 text-danger">No se encuentra el producto</h2>
             <% } %>
          </div>
        </div>
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/update.js"></script>
  </body>
</html>
