extends layout
block content
  h1(class="text-center") Agregar producto 
  hr
  div(class= "d-flex justify-content-center mt-5")
    form(action="/api/products" method="POST" class="w-50") 
      div(class= "mb-3")
        input(type="text" class="form-control" name="title" placeholder="Nombre")
      div(class= "mb-3")
        input(type="text" class="form-control" name="price" placeholder="Precio")
      div(class= "mb-3") 
        input(type="text" class="form-control" name="thumbnail" placeholder="Imagen")
      button(type="submit" class="btn btn-success") Enviar
  div(class= "container mt-5")
    table(class="table table-striped")
      thead
        tr
          th(scope="col") ID
          th(scope="col") Nombre
          th(scope="col") Precio
          th(scope="col") Editar
          th(scope="col") Eliminar
      tbody(id="productsContainer")
        each product, i in products
          tr
            th(scope="row")= product.id
            td= product.title
            td $#{product.price}
            td
              a(href=`/admin/product/`+ product.id)
                button(class="btn btn-primary" id="editarBtn")
                  i(class="bi bi-pencil-fill")
            td
              button(class="btn btn-danger" data-id = product.id)
                i(class="bi bi-trash-fill" id="eliminarBtn" data-id = product.id)
  script(src="/js/delete.js")               
